<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="禁用强制亮度"
        android:icon="@android:drawable/ic_menu_sort_by_size">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="禁止作用域内的 APP 强制拉高亮度。" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>